<!--
    Author: Zhanhua Hu
    Created for SCCR, 2018
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Jinja title -->
  {% block title %}
  <title>Santa Cruz County Resources</title>
  {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="cache-control" content="no-cache" />
  <meta name="description" content="Landing page for the Santa Cruz County Resources">
  <meta name="author" content="Zhanhua Hu">
  <!-- Loading the required JavaScript, and then the CSS Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <!-- Loading static dependencies, such as CSS, JS, and image files, from `static` -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="icon" href="{% static 'img/Santa_Cruz_County.ico' %}">
  <script src="{% static 'js/index.js' %}"></script>
  <style>
  </style>
</head>

<body>
  <div id="wrap">
    <!--
        Begin the main container
    -->
  <div id="main" class="container-fullwidth">
    <!--
        Navbar at the top of the page
    -->
    
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">
        {% load static %}
        <img src="{% static 'img/Santa_Cruz_County.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Santa Cruz County Resources
      </a>
    </nav>
    <!--
      Containerizing the rest of the body inside of `index.html` (think of
      it as if we were "porting" the contents of `index.html` into this
      container)
    -->
    <div class="container mb-5" id="header">
        <div id="header">
          <div class="col-md text-center mb-1 mt-5">
            {% block content %} {% endblock %}
          </div>
        </div>
    </div>
    <!--
        Footer at the bottom of the page
    -->
  </div>
   <div class="footer border-success text-center">© 2018 Santa Cruz County Resources</div>
</body>

</html>
