{% extends "base_generic.html" %} 
{% block content %}
<div class="row justify-content-sm-center">
    <div class="col-sm-10">
        <br>
        <div class="card">
            <div class="card-body">
                <strong>View services available in:</strong> 
                {% for area in event_data %}
                    {% if forloop.last %}
                        <a href="#{{forloop.counter}}">{{area.0.0.area}}</a>
                    {% else %}
                        <a href="#{{forloop.counter}}">{{area.0.0.area}}</a> | 
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        {% for area in event_data %}
            <a name="{{forloop.counter}}"></a>    
            {% for category in area %}
                {% if forloop.first %}
                <h1>{{area.0.0.area}}</h1>
                {% endif %}

                {% for event in category %}
                    {% if forloop.first %}
                        <h3>{{category.0.category}}</h3>
                    {% endif %}

                    {% if event.event_url %}
                        <strong><a href="{{event.event_url}}">{{event.event_name}}</a></strong>
                    {% else %}
                        <strong>{{event.event_name}}</strong>
                    {% endif %}

                    {{ event.event_details|add:' |'|default_if_none:'' }}

                    {{ event.event_address|add:' |'|default_if_none:'' }}

                    {{ event.event_phone|add:' |'|default_if_none:'' }}

                    {% if event.event_email %}
                        <a href="mailto:{{event.event_email}}">{{event.event_email}}</a>
                    {% endif %}

                    <br>

                {% endfor %}
            {% endfor %}
        {% endfor %}

    </div>
</div>

{% endblock %}