<!--
    Author: Zhanhua Hu
    Created for SCCR, 2018
-->
<!--
    Jinja that extends this class from the base_generic HTML file
-->
{% extends "base_generic.html" %} {% block content %}

<!--
    Header welcoming the client/user to the website
-->
<h1 class="mt-5 mb-5">Welcome to Santa Cruz Country Resources</h1>
<!--
    On a GET request instantiated by the client, the Jinja will auto-fill based
    on the code in `urls.py`.
-->
<form action="/calendar/search" method="get">
  {{form}}
  <input type="submit" value="Submit" />
</form>

<!--
    "About card" telling about the cause
-->
<div id="about" class="container mt-5 mb-5">
  <div class="card w-100">
    <div class="card-body">
      <h5 class="">About Santa Cruz County Resources</h5>
      <p class="card-text">Our programs began on the corner of Coral and River Street in Santa Cruz in the
          1980s as a loosely affiliated group of faith-based and secular organizations providing basic food
          and shelter to people experiencing homelessness. They have evolved into four emergency and transitional
          housing shelters for nearly 230 people, a medical clinic, and a 12-bed medical respite care facility.
          <br /><br />
          People experiencing homelessness are the most vulnerable members of our community.
          They lack access to health care as well as housing, job opportunities, community connections,
          and other advantages. They often have chronic illnesses made worse by their challenging living
          conditions. Based on a study conducted in San Francisco, it can cost a community as much as
          $61,000 for a chronically homeless person who lives on the streets for one year—for expenses
          such as shelter stays, jail time, and emergency room visits.
          <br /><br />
          The County of Santa Cruz makes no representations or warrants as to the suitability of this
          information for your particular purpose, and that to the extent you use or implement this
          information in your own setting you do so at your own risk. The information provided herewith
          is solely for your own use and cannot be sold. In no event will the County of Santa Cruz be liable
          for any damages whatsoever, whether direct, consequential, incidental, special or on claim for attorney
          fees arising out of the use of or inability to use the information provided herewith.</p>
    </div>
  </div>
</div>

<script>
if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(getPosition);
} else {
}

function getPosition(position) {
    var post_data = {
      'csrfmiddlewaretoken': "{{csrf_token}}",
      'lat': position.coords.latitude,
      'long': position.coords.longitude
    }
    $.ajax({
        url: "",
        type: "POST",
        data: post_data,
        dataType: "json"
        });
}</script>
<!--{% load static %}
  <script src="{% static 'js/geolocation.js' %}"></script>-->

{% endblock %}
