{% extends "base_generic.html" %} {% block content %}
<h1 class="mt-5 mb-5 rainbow">Welcome to Santa Cruz Country Resources!</h1>
<form action="/calendar/search" method="get">
  {{form}}
  <input type="submit" value="Submit" />
</form>

<div id="about" class="container mt-5 mb-5">
  <div class="card w-100">
    <div class="card-body">
      <h5 class="card-title text-center rainbow">About Santa Cruz County Resources</h5>
      <p class="card-text rainbow">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis erat at nulla sodales consectetur eu in arcu. Fusce congue sem eget turpis placerat euismod. Donec orci felis, pharetra non augue ac, condimentum gravida lectus. Ut auctor et ipsum
        a faucibus. Integer malesuada iaculis mauris at ultrices. Aenean sit amet convallis eros, a vehicula diam. Etiam id massa nec mi vehicula consectetur et pulvinar odio. Mauris quis turpis vitae elit condimentum viverra in vitae orci. Morbi maximus
        enim eget bibendum consequat. Vivamus erat dui, laoreet molestie elit ac, varius viverra orci. Nam malesuada massa a mi laoreet elementum. Suspendisse fermentum justo tortor. Donec varius ultricies ipsum.</p>
      <div class="card-footer bg-transparent border-success text-center rainbow">© 2018 Santa Cruz County Resources</div>
    </div>
  </div>
</div>

<div id="contact" class="container">
  <p class="text-center mt-5 rainbow" id="header">Contact form</p>
  <form>
    <div class="form-group row">
      <label for="form-name">Name</label>
      <input type="text" class="form-control" id="form-name" aria-describedby="userName" placeholder="Enter name">
      <small id="userName" class="form-text text-muted">Please enter your full name.</small>
    </div>
    <div class="form-group row">
      <label for="inputNumber">Phone number</label>
      <input type="text" class="form-control" id="inputNumber" aria-describedby="phoneNum" placeholder="(XXX)-XXX-XXXX">
      <small id="inputNumber" class="form-text text-muted">Please enter your phone number. We'll never share your phone number with anyone else.</small>
    </div>
    <div class="form-group row">
      <label for="inputEmail">Email address</label>
      <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group row">
      <label for="subjectMsg">Subject</label>
      <input type="text" class="form-control" id="subjectMsg" aria-describedby="subMsg" placeholder="Subject title">
      <small id="subMsg" class="form-text text-muted">Please enter the subject matter.</small>
    </div>
    <div class="form-group row">
      <label for="msgBody">Message</label>
      <input type="text" class="form-control" id="msgBody" aria-describedby="usrMsg" placeholder="Enter your message here">
      <small id="usrMsg" class="form-text text-muted">Please enter your message. All inquiries are confidential.</small>
    </div>
    <div class="text-center pb-5">
      <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Submit</button>
    </div>
  </form>
</div>
</div>
{% endblock %}
