{% extends "base_generic.html" %} {% block content %}

<!--
    Header welcoming the client/user to the website
-->
<!-- Page Header -->
{% load static %}
<header class="masthead" style="background-image: url('{% static 'img/banner1.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Santa Cruz Free Guide</h1>
                    <h5> Search for what you need or download one of our printable PDFs:</h5>
                    
                    <form action="/calendar/search/day" method="get">
                        {{form}}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <div id="about" class="mt-0 mb-0">
                        <div class="card w-100 bg-transparent border-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="jumbotron" style="background: rgba(50, 50, 50, 0.5); padding-top: 10px; padding-bottom: 10px">
                                        <p class="lead">COVID-19 Information</p>
                                        <p>
                                            The following are resources available during shelter in place as well as a map of additional hygiene facilities installed by the city of Santa Cruz.
                                        </p>
                                        <div class="row">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-3 mx-auto">
                                                <a href="{% static 'pdfs/ShelterInPlace032020.pdf' %}" style="color: inherit;" target="_blank">
                                                    <i class="fas fa-file-pdf fa-4x"></i>
                                                    <p>Shelter in Place Resources</p>
                                                </a>
                                            </div>
                                            <div class="col-sm-3 mx-auto">
                                                <a href="{% static 'pdfs/COVIDHygiene032020.pdf' %}" style="color: inherit;" target="_blank">
                                                    <i class="fas fa-file-pdf fa-4x"></i>
                                                    <p>Santa Cruz Hygiene Facilities Map</p>
                                                </a>
                                            </div>
                                            <div class="col-sm-3"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-0 col-lg-2"></div>
                                    <div class="col-sm-3 col-lg-2 mx-auto">
                                        <a href="{% static 'pdfs/SC_eng.pdf' %}" style="color: inherit;" target="_blank">
                                            <i class="fas fa-file-pdf fa-5x"></i>
                                            <p>Santa Cruz Free Guide</p>
                                        </a>
                                    </div>
                                    <div class="col-sm-3 col-lg-2 mx-auto">
                                        <a href="{% static 'pdfs/SC_esp.pdf' %}" style="color: inherit;" target="_blank">
                                            <i class="fas fa-file-pdf fa-5x"></i>
                                            <p>Santa Cruz Guia Gratis</p>
                                        </a>
                                    </div>
                                    <div class="col-sm-3 col-lg-2 mx-auto">
                                        <a href="{% static 'pdfs/WSLV_eng.pdf' %}" style="color: inherit;" target="_blank">
                                            <i class="fas fa-file-pdf fa-5x"></i>
                                            <p>Watsonville / SLV Free Guide</p>
                                        </a>
                                    </div>
                                    <div class="col-sm-3 col-lg-2 mx-auto">
                                        <a href="{% static 'pdfs/WSLV_esp.pdf' %}" style="color: inherit;" target="_blank">
                                            <i class="fas fa-file-pdf fa-5x"></i>
                                            <p>Watsonville / SLV Guia Gratis</p>
                                        </a>
                                    </div>
                                    <div class="col-sm-0 col-lg-2"></div>
                                    <div class="col-xs-0 col-sm-0 col-lg-2"></div>
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(getPosition);
} else {
}

function getPosition(position) {
    var post_data = {
      'csrfmiddlewaretoken': "{{csrf_token}}",
      'lat': position.coords.latitude,
      'long': position.coords.longitude
    }
    $.ajax({
        url: "",
        type: "POST",
        data: post_data,
        dataType: "json"
        });
}</script>
<!--{% load static %}
  <script src="{% static 'js/geolocation.js' %}"></script>-->

{% endblock %}
