{% extends "base_generic.html" %} {% block content %}
<!-- Main Content -->
<div class="container" style="padding-top:10px;">
  <div class="row">
    <div class="col-md-6 col-sm-12" id="leftcol">
      <h1>{{day_name}}</h1>
        {% for event in day_events %}
        <div class="post-preview" id="list-{{ forloop.counter0 }}">
            <a href="/calendar/details/{{service}}/{{event.id}}?locations={{origin}}">
                <h2 class="post-title">
                {{event.summary}}
                </h2>
                <h4 class="post-subtitle">
                {% if event.description %}
                {{event.description|truncatechars:100}}
                {% endif %}
                </h4>
            </a>
            {% if event.location %}
            <p class="post-meta">{{event.time_text}} at {{event.location}}</p>
            {% else %}
            <p class="post-meta">{{event.time_text}}</p>
            {% endif %}
            </div>
            <hr>
        {% endfor %}
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="/calendar/search/day/{{next_date.0}}/{{next_date.1}}/{{next_date.2}}/?services={{service}}&locations={{origin}}">Next Day &rarr;</a>
            <a class="btn btn-primary float-left" href="/calendar/search/day/{{prev_date.0}}/{{prev_date.1}}/{{prev_date.2}}/?services={{service}}&locations={{origin}}">&larr; Previous Day</a>
          </div>
        </div>
        <div class="col-md-6 d-none d-md-block" id="rightcol" style="position: sticky;">
          <div id="map" style="height:100%; width: 100%; padding:0;"></div>

          <script>
          var lats = [];
          var lngs = [];
          {% for event in day_events %}
          if("{{event.latlng}}".localeCompare("NO_ADDRESS") != 0){
            lats.push("{{event.latlng.0}}");
            lngs.push("{{event.latlng.1}}");
          } else {
            lats.push(0);
            lngs.push(0);
          }
            
          {% endfor %}

          // Initialize and add the map
          function initMap() {
            // The location of Santa Cruz County
            var santa_cruz = {
              lat: 36.976980,
              lng: -121.935446
            };
            // The map, centered on Santa Cruz County
            var map = new google.maps.Map(
              document.getElementById('map'), {
                zoom: 10,
                center: santa_cruz
              });

              function geocode_addresses(){
                // Add latlngs to map as markers as long as lat and lng aren't 0 (that means that event doesn't have an address)
                for(i = 0; i < lats.length; i++){
                  if(lats[i] != 0 && lngs[i] != 0){
                    var marker = new google.maps.Marker({
                      map: map,
                      position: {lat: parseFloat(lats[i]), lng: parseFloat(lngs[i])}
                    });
                    
                    // Map animations on hover and click over markers
                    marker.addListener('click', function(inner_marker, inner_i)
                    {
                      return function(){
                        map.setZoom(14);
                        map.panTo(inner_marker.position);
                        jQuery.fn.scrollTo = function(elem, speed) {
                            $(this).animate({
                                scrollTop:  $(this).scrollTop() - $(this).offset().top + $(elem).offset().top
                            }, speed == undefined ? 1000 : speed);
                            return this;
                        };
                        $(document).ready(function() {
                          $("#leftcol").scrollTo("#list-" + inner_i, 600);
                        });

                      }
                    }(marker, i));

                    marker.addListener('mouseover', function(inner_marker, inner_i)
                    {
                      return function(){
                        // jQuery scrollTo function

                      }
                    }(marker, i));

                    // Map animations on hover over list item
                    document.getElementById("list-" + i).onmouseover = function(inner_marker)
                    {
                      return function(){
                      map.setZoom(14);
                      map.panTo(inner_marker.position);
                      inner_marker.setAnimation(google.maps.Animation.BOUNCE);
                    }} (marker);
                    document.getElementById("list-" + i).onmouseleave = function(inner_marker)
                    {
                      return function(){
                      inner_marker.setAnimation(null);
                    }}(marker);
                  } else {
                    // Event doesn't have an address, reset the map to default
                    document.getElementById("list-" + i).onmouseover = function(){
                      map.setCenter(santa_cruz);
                      map.setZoom(10);
                    }
                  }
                }
              }
              geocode_addresses();
            }



            </script>

            <!--Load the API from the specified URL
            * The async attribute allows the browser to render the page while the API loads
            * The key parameter will contain your own API key (which is not needed for this tutorial)
            * The callback parameter executes the initMap() function
          -->
          <script async defer
          src="https://maps.googleapis.com/maps/api/js?key={{ maps_key }}&callback=initMap">
          </script>
        </div>
      </div>
    </div>

    <hr>

{% endblock %}
