Django==2.2.10
certifi==2016.9.26  # https://github.com/elastic/elasticsearch-py/issues/469
django-background-tasks==1.1.13
django-compat==1.0.15
django-dotenv==1.4.2
django-phonenumber-field==2.0.0
google-api-python-client==1.6.6
google-auth==1.6.1
google-auth-httplib2==0.0.3
googlemaps==2.5.1
gunicorn==19.9.0
# maybe order matters for these next two
urllib3[secure]==1.24.1
httplib2shim==0.0.3
icalendar==4.0.1
phonenumbers==8.9.6
pymysql==0.9.3
pyRFC3339==1.0
pytz==2018.3
requests==2.20.0
twilio==6.14.4
user-agents==1.1.0
django-richtextfield==1.4.0
